head, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #111111;
    background: #f7f8f9;
}

body {
    font: 18px/1.4 system-ui, sans-serif;
    background-image: url('/images/bg.jpg');
    background-repeat: repeat;
    background-size: 123% auto;
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}

img, video {
    max-width: 100%;
}

code {
    font: 0.8em Monaco, monospace;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    outline: none;
    border-bottom: 0.1em solid black;
    color: black;
}

pre {
    overflow-x: auto;
    padding: 1em;
    border: 1px dashed gray;
    background-color: #ffffff;
}

blockquote {
    color: dimgray;
    font-style: italic;
}

pre a, blockquote a {
    text-decoration: none;
    outline: none;
    border: none;
}

.full-page {
    margin: 6em auto;
    max-width: 60em;
    padding: 2em;

    color: #111111;
    background: #f7f8f9;

    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    border-radius: 5px;
}

.caption {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.footer {
    flex-shrink: 0;
    height: 3em;
    font-size: 0.9em;
}

.small-date {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 0.75em;
}

@media (max-width: 375px) {
    body {
        background: #f7f8f9;
        font-size: 0.9em;
    }

    .full-page {
        /*box-shadow: none;*/
        /*border-radius: 0;*/
    }
}

@media (max-width: 320px) {
    body {
        background: #f7f8f9;
        font-size: 0.8em;
    }

    .full-page {
        /*box-shadow: none;*/
        /*border-radius: 0;*/
    }
}
