head, body {
    color: #111111;
    background: #f7f8f9;
}

body {
    font: 18px/1.4 system-ui, sans-serif;
    margin: auto;
    max-width: 40em;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: normal;
}

img, video {
    max-width: 100%;
}

code {
    font: 0.8em Monaco, monospace;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    outline: none;
    border-bottom: 0.1em solid black;
    color: black;
}

pre {
    overflow-x: auto;
    padding: 1em;
    border: 1px dashed gray;
    background-color: #ffffff;
}

blockquote {
    color: dimgray;
    font-style: italic;
}

pre a, blockquote a {
    text-decoration: none;
    outline: none;
    border: none;
}

.caption {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.footer {
    flex-shrink: 0;
    height: 3em;
    font-size: 0.9em;
}

.small-date {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 0.75em;
}

@media (max-width: 375px) {
    body {
        font-size: 0.9em;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 0.8em;
    }
}
