## Thoughts and Ideas
<%
require 'time'

posts = []
Dir["_sources/*.md"].each do |f|
   name = File.basename(f, ".md")

   title = File.open(f).each_line.drop(1).first.gsub("title: ", '').strip
   date = File.open(f).each_line.drop(2).first.gsub("date: ", '').strip

   begin
      # date = Time.parse(date).strftime("%Y-%m-%d %H:%M:%S %z")
      date = Time.parse(date).strftime("%Y-%m-%d")
   rescue ArgumentError
      # don't do anything
   end

   posts.push({ :name => name, :title => title, :date => date })
end

sorted_posts = posts.sort_by { |k| k[:date] }.reverse!

sorted_posts.each do |post|
%>
* [<%= post[:title] %>](<%= ENV["SITE_BASE_URL"] %>/<%= post[:name] %>) <div class="small-date"><%= post[:date] %></div>
<% end %>
